In [211]:
import pandas as pd
import numpy as np

In [212]:
df_all = pd.read_csv("../Data/Federal_Funds_Rate.csv")
df_all['DATE'] = pd.to_datetime(df_all.DATE)

df1 = pd.read_csv('../Data/CPI.csv')
df1['DATE'] = pd.to_datetime(df1.DATE)
df_all = df_all.merge(df1, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')
df_all.CPIAUCSL = df_all.CPIAUCSL.interpolate()

df2 = pd.read_csv('../Data/GDP_Quarterly_Real.csv')
df2['DATE'] = pd.to_datetime(df2.DATE)
df2 = df2.set_index(pd.to_datetime(df2['DATE']), drop=True)
df2.drop('DATE', axis=1, inplace=True)
df2 = df2.resample('MS').interpolate()
df_all = df_all.merge(df2, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df3 = pd.read_csv('../Data/Unemployment_Rate.csv')
df3['DATE'] = pd.to_datetime(df3.DATE)
df_all = df_all.merge(df3, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df4 = pd.read_csv('../Data/Population_Over55.csv')
df4['DATE'] = pd.to_datetime(df4.DATE)
df_all = df_all.merge(df4, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df5 = pd.read_csv('../Data/Population_WorkingAge.csv')
df5['DATE'] = pd.to_datetime(df5.DATE)
df_all = df_all.merge(df5, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df6 = pd.read_csv('../Data/M1_MoneySupply.csv')
df6['DATE'] = pd.to_datetime(df6.DATE)
df_all = df_all.merge(df6, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df7 = pd.read_csv('../Data/M2_MoneySupply.csv')
df7['DATE'] = pd.to_datetime(df7.DATE)
df_all = df_all.merge(df7, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')
df_all

df8 = pd.read_csv('../Data/M2_velocity_quarterly.csv')
df8['DATE'] = pd.to_datetime(df8.DATE)
df8 = df8.set_index(pd.to_datetime(df8['DATE']), drop=True)
df8.drop('DATE', axis=1, inplace=True)
df8 = df8.resample('MS').interpolate()
df_all = df_all.merge(df8, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df9 = pd.read_csv('../Data/Population_Total.csv')
df9['DATE'] = pd.to_datetime(df9.DATE)
df_all = df_all.merge(df9, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df10 = pd.read_csv('../Data/Debt_to_GDP_Quarterly.csv')
df10['DATE'] = pd.to_datetime(df10.DATE)
df10 = df10.set_index(pd.to_datetime(df10['DATE']), drop=True)
df10.drop('DATE', axis=1, inplace=True)
df10 = df10.resample('MS').interpolate()
df_all = df_all.merge(df10, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df11 = pd.read_csv('../Data/Federal_Debt_Quarterly.csv')
df11['DATE'] = pd.to_datetime(df11.DATE)
df11 = df11.set_index(pd.to_datetime(df11['DATE']), drop=True)
df11.drop('DATE', axis=1, inplace=True)
df11 = df11.resample('MS').interpolate()
df_all = df_all.merge(df11, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

In [213]:
df12 = pd.read_csv('../Data/USDJPY_monthly.csv')
df12['DATE'] = pd.to_datetime(df12.DATE)
df_all = df_all.merge(df12, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df13 = pd.read_csv('../Data/Core_CPI.csv')
df13['DATE'] = pd.to_datetime(df13.DATE)
df_all = df_all.merge(df13, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df14 = pd.read_csv('../Data/Inital_Claims_4WeekMA.csv')
df14['DATE'] = pd.to_datetime(df14.DATE)
df14 = df14.set_index(pd.to_datetime(df14['DATE']), drop=True)
df14.drop('DATE', axis=1, inplace=True)
df14 = df14.resample('MS').mean()
df_all = df_all.merge(df14, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df15 = pd.read_csv('../Data/Continuing_Claims_4WeekMA.csv')
df15['DATE'] = pd.to_datetime(df15.DATE)
df15 = df15.set_index(pd.to_datetime(df15['DATE']), drop=True)
df15.drop('DATE', axis=1, inplace=True)
df15 = df15.resample('MS').mean()
df_all = df_all.merge(df15, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df16 = pd.read_csv('../Data/Mortgage_Rate_Weekly.csv')
df16['DATE'] = pd.to_datetime(df16.DATE)
df16 = df16.set_index(pd.to_datetime(df16['DATE']), drop=True)
df16.drop('DATE', axis=1, inplace=True)
df16 = df16.resample('MS').mean()
df_all = df_all.merge(df16, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df17 = pd.read_csv('../Data/Capacity_Utilization_Ind.csv')
df17['DATE'] = pd.to_datetime(df17.DATE)
df_all = df_all.merge(df17, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df18 = pd.read_csv('../Data/Total_Nonfarmpayrolls.csv')
df18['DATE'] = pd.to_datetime(df18.DATE)
df_all = df_all.merge(df18, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df19 = pd.read_csv('../Data/PPI_AllCommods.csv')
df19['DATE'] = pd.to_datetime(df19.DATE)
df_all = df_all.merge(df19, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df20 = pd.read_csv('../Data/Total_ConsumerCredit.csv')
df20['DATE'] = pd.to_datetime(df20.DATE)
df_all = df_all.merge(df20, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df21 = pd.read_csv('../Data/SPOT_WTI.csv')
df21['DATE'] = pd.to_datetime(df21.DATE)
df_all = df_all.merge(df21, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df22 = pd.read_csv('../Data/Motor_VehicleLoans.csv')
df22['DATE'] = pd.to_datetime(df22.DATE)
df22 = df22.set_index(pd.to_datetime(df22['DATE']), drop=True)
df22.drop('DATE', axis=1, inplace=True)
df22 = df22.resample('MS').interpolate()
df_all = df_all.merge(df22, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df23 = pd.read_csv('../Data/Federal_InterestPayments.csv')
df23['DATE'] = pd.to_datetime(df23.DATE)
df23 = df23.set_index(pd.to_datetime(df23['DATE']), drop=True)
df23.drop('DATE', axis=1, inplace=True)
df23 = df23.resample('MS').interpolate()
df_all = df_all.merge(df23, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

df24 = pd.read_csv('../Data/Federal_TaxReceipts.csv')
df24['DATE'] = pd.to_datetime(df24.DATE)
df24 = df24.set_index(pd.to_datetime(df24['DATE']), drop=True)
df24.drop('DATE', axis=1, inplace=True)
df24 = df24.resample('MS').interpolate()
df_all = df_all.merge(df24, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')
df_all

,DATE,FEDFUNDS,CPIAUCSL,GDPC1,UNRATE,LNU00024230,LNU00000060,M1SL,M2SL,M2V,...,CC4WSA,MORTGAGE30US,TCU,PAYEMS,PPIACO,TOTALSL,WTISPLC,MVLOAS,A091RC1Q027SBEA,W006RC1Q027SBEA
0,1913-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.100,NaN,NaN,NaN,NaN,NaN
1,1913-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN
2,1913-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN
3,1913-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN
4,1913-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.900,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,2022-04-01,0.33,288.663,19681.682,3.6,98528.0,127126.0,20615.3,21655.5,1.147,...,1449500.0,4.9825,80.4220,151224.0,265.385,4563.48947,101.78,1365.13043,599.097,NaN
1312,2022-05-01,0.77,291.474,NaN,3.6,98646.0,127115.0,20620.7,21684.4,NaN,...,1338312.5,5.2300,80.3335,151610.0,273.270,4587.28211,109.55,NaN,NaN,NaN
1313,2022-06-01,1.21,295.328,NaN,3.6,98779.0,127121.0,20545.4,21667.5,NaN,...,1320937.5,5.5220,80.0490,152008.0,282.360,4627.43653,114.84,NaN,NaN,NaN
1314,2022-07-01,1.68,295.328,NaN,3.5,98908.0,127149.0,NaN,NaN,NaN,...,1358187.5,5.4125,NaN,152536.0,NaN,NaN,101.62,NaN,NaN,NaN
1315,2022-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.9900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
df_all['Fed_Int_Over_Receipts'] = (df_all['A091RC1Q027SBEA'] / df_all['W006RC1Q027SBEA'])
df_all

,DATE,FEDFUNDS,CPIAUCSL,GDPC1,UNRATE,LNU00024230,LNU00000060,M1SL,M2SL,M2V,...,MORTGAGE30US,TCU,PAYEMS,PPIACO,TOTALSL,WTISPLC,MVLOAS,A091RC1Q027SBEA,W006RC1Q027SBEA,Fed_Int_Over_Receipts
0,1913-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.100,NaN,NaN,NaN,NaN,NaN,NaN
1,1913-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN
2,1913-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN
3,1913-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN
4,1913-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.900,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,2022-04-01,0.33,288.663,19681.682,3.6,98528.0,127126.0,20615.3,21655.5,1.147,...,4.9825,80.4220,151224.0,265.385,4563.48947,101.78,1365.13043,599.097,NaN,NaN
1312,2022-05-01,0.77,291.474,NaN,3.6,98646.0,127115.0,20620.7,21684.4,NaN,...,5.2300,80.3335,151610.0,273.270,4587.28211,109.55,NaN,NaN,NaN,NaN
1313,2022-06-01,1.21,295.328,NaN,3.6,98779.0,127121.0,20545.4,21667.5,NaN,...,5.5220,80.0490,152008.0,282.360,4627.43653,114.84,NaN,NaN,NaN,NaN
1314,2022-07-01,1.68,295.328,NaN,3.5,98908.0,127149.0,NaN,NaN,NaN,...,5.4125,NaN,152536.0,NaN,NaN,101.62,NaN,NaN,NaN,NaN
1315,2022-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.9900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
df_all.set_index('DATE', inplace=True)

In [217]:
df_all

,FEDFUNDS,CPIAUCSL,GDPC1,UNRATE,LNU00024230,LNU00000060,M1SL,M2SL,M2V,POPTHM,...,MORTGAGE30US,TCU,PAYEMS,PPIACO,TOTALSL,WTISPLC,MVLOAS,A091RC1Q027SBEA,W006RC1Q027SBEA,Fed_Int_Over_Receipts
DATE,,,,,,,,,,,,,,,,,,,,,
1913-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.100,NaN,NaN,NaN,NaN,NaN,NaN
1913-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN
1913-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN
1913-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN
1913-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.900,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,0.33,288.663,19681.682,3.6,98528.0,127126.0,20615.3,21655.5,1.147,332863.0,...,4.9825,80.4220,151224.0,265.385,4563.48947,101.78,1365.13043,599.097,NaN,NaN
2022-05-01,0.77,291.474,NaN,3.6,98646.0,127115.0,20620.7,21684.4,NaN,332928.0,...,5.2300,80.3335,151610.0,273.270,4587.28211,109.55,NaN,NaN,NaN,NaN
2022-06-01,1.21,295.328,NaN,3.6,98779.0,127121.0,20545.4,21667.5,NaN,333028.0,...,5.5220,80.0490,152008.0,282.360,4627.43653,114.84,NaN,NaN,NaN,NaN
2022-07-01,1.68,295.328,NaN,3.5,98908.0,127149.0,NaN,NaN,NaN,NaN,...,5.4125,NaN,152536.0,NaN,NaN,101.62,NaN,NaN,NaN,NaN
2022-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.9900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
df_all = df_all['1971-07-01':'2022-01-01']

In [221]:
df_all

,FEDFUNDS,CPIAUCSL,GDPC1,UNRATE,LNU00024230,LNU00000060,M1SL,M2SL,M2V,POPTHM,...,MORTGAGE30US,TCU,PAYEMS,PPIACO,TOTALSL,WTISPLC,MVLOAS,A091RC1Q027SBEA,W006RC1Q027SBEA,Fed_Int_Over_Receipts
DATE,,,,,,,,,,,,,,,,,,,,,
1971-07-01,5.31,40.600,5142.422000,6.0,38011.0,70789.0,224.9,679.6,1.717000,207771.0,...,7.6040,79.2256,71315.0,38.300,139.90802,3.56,39.412000,35.408000,135.276000,0.261746
1971-08-01,5.57,40.700,5146.463667,6.1,38070.0,70938.0,225.6,685.5,1.708000,207998.0,...,7.6975,78.5675,71373.0,38.500,141.25209,3.56,39.781000,35.616000,136.066667,0.261754
1971-09-01,5.55,40.800,5150.505333,6.0,38142.0,71087.0,226.5,692.5,1.699000,208230.0,...,7.6875,79.6440,71614.0,38.300,142.76657,3.56,40.150000,35.824000,136.857333,0.261762
1971-10-01,5.20,40.900,5154.547000,5.8,38214.0,71238.0,227.2,698.4,1.690000,208450.0,...,7.6280,80.0392,71642.0,38.300,143.92676,3.56,40.519000,36.032000,137.648000,0.261769
1971-11-01,4.91,41.000,5186.143667,6.0,38273.0,71362.0,227.8,704.6,1.692000,208648.0,...,7.5500,80.1781,71847.0,38.300,145.63484,3.56,41.236667,36.197333,141.976000,0.254954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-01,0.08,274.214,19697.157667,4.7,98419.0,126115.0,19898.8,20992.3,1.121333,332403.0,...,2.9000,77.4469,147328.0,235.678,4355.20768,71.65,1309.544803,531.493000,2586.149667,0.205515
2021-10-01,0.08,276.590,19806.290000,4.6,98529.0,126157.0,20063.6,21144.0,1.125000,332513.0,...,3.0675,78.5784,148005.0,240.465,4376.10581,81.48,1314.107900,541.457000,2616.739000,0.206921
2021-11-01,0.08,278.524,19780.166000,4.2,98656.0,126165.0,20279.8,21349.3,1.124667,332598.0,...,3.0675,78.9808,148652.0,243.287,4407.88979,79.15,1320.354037,547.996333,2715.497000,0.201803
2021-12-01,0.08,280.126,19754.042000,3.9,98741.0,126205.0,20430.7,21490.0,1.124333,332640.0,...,3.0980,78.7416,149240.0,241.338,4430.82582,71.71,1326.600173,554.535667,2814.255000,0.197045
2022-01-01,0.08,281.933,19727.918000,4.0,98159.0,127164.0,20585.4,21649.6,1.124000,332684.0,...,3.4450,78.9421,149744.0,246.453,4446.72147,83.22,1332.846310,561.075000,2913.013000,0.192610

In [222]:
df_all.isna().sum()

FEDFUNDS                 0
CPIAUCSL                 0
GDPC1                    0
UNRATE                   0
LNU00024230              0
LNU00000060              0
M1SL                     0
M2SL                     0
M2V                      0
POPTHM                   0
GFDEGDQ188S              0
GFDEBTN                  0
EXJPUS                   0
CPILFESL                 0
IC4WSA                   0
CC4WSA                   0
MORTGAGE30US             0
TCU                      0
PAYEMS                   0
PPIACO                   0
TOTALSL                  0
WTISPLC                  0
MVLOAS                   0
A091RC1Q027SBEA          0
W006RC1Q027SBEA          0
Fed_Int_Over_Receipts    0
dtype: int64

In [55]:
df2.resample('MS').interpolate()

                   GDPC1
DATE
1947-01-01   2034.450000
1947-02-01   2032.641333
1947-03-01   2030.832667
1947-04-01   2029.024000
1947-05-01   2027.627333
...                  ...
2021-12-01  19754.042000
2022-01-01  19727.918000
2022-02-01  19712.506000
2022-03-01  19697.094000
2022-04-01  19681.682000

[904 rows x 1 columns]

In [143]:
df_all.isna().sum()

DATE             0
FEDFUNDS        90
CPIAUCSL         0
GDPC1            3
UNRATE          12
LNU00024230     12
LNU00000060     12
M1SL           145
M2SL           145
M2V            147
POPTHM         145
GFDEGDQ188S    234
GFDEBTN        234
EXJPUS_x       288
EXJPUS_y       288
CPILFESL_x     121
EXJPUS_x       288
CPILFESL_y     121
IC4WSA_x       240
EXJPUS_y       288
CPILFESL       121
IC4WSA_y       240
CC4WSA         240
dtype: int64

In [9]:
df1.set_index('DATE', inplace=True)
df1

            FEDFUNDS
DATE
1954-07-01      0.80
1954-08-01      1.22
1954-09-01      1.07
1954-10-01      0.85
1954-11-01      0.83
...              ...
2022-03-01      0.20
2022-04-01      0.33
2022-05-01      0.77
2022-06-01      1.21
2022-07-01      1.68

[817 rows x 1 columns]

In [ ]:
df3 = pd.read_csv('../Data/GDP_Quarterly_Real.csv')
df3['DATE'] = pd.to_datetime(df3.DATE)
df_all = df_all.merge(df3, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

In [63]:
df_quarterly_realgdp = pd.read_csv('../Data/GDP_Quarterly_Real.csv')
df_quarterly_realgdp = df_quarterly_realgdp.set_index(pd.to_datetime(df_quarterly_realgdp['DATE']), drop=True)
df_quarterly_realgdp.drop('DATE', axis=1, inplace=True)
df_quarterly_realgdp = pd.date_range('01-01-1947', '07-01-2022', freq='MS')
df_quarterly_realgdp.resample('MS').interpolate()

AttributeError: 'DatetimeIndex' object has no attribute 'resample'

In [ ]:
df_gdp = pd.read_csv('../Data/GDP_Quarterly_Real.csv')
weekly_count = df_gdp[(df_gdp.index >= '01-01-1947')] #I want the values before November 26, 2017, and the values after December 24, 2017
ts_wr = pd.date_range(weekly_count.index[0], weekly_count.index[-1], freq='W')
#Make an empty array of length ts_wr
ts_weekly = np.empty(shape=len(ts_wr))
ts_weekly = pd.Series(ts_weekly)
ts_weekly = ts_weekly.reindex(ts_wr)

#fill in our original values
ts_new = ts_weekly.fillna(weekly_count)

In [ ]:
df11 = pd.read_csv('../Data/M2_velocity_quarterly.csv')
df11['DATE'] = pd.to_datetime(df11.DATE)




df_all = df_all.merge(df11, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

In [94]:
df8 = pd.read_csv('../Data/M2_velocity_quarterly.csv')
df8['DATE'] = pd.to_datetime(df8.DATE)
df8 = df8.set_index(pd.to_datetime(df8['DATE']), drop=True)
df8.drop('DATE', axis=1, inplace=True)
df8 = df8.resample('MS').interpolate()
df_all = df_all.merge(df8, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

                 M2V
DATE
1959-01-01  1.773000
1959-02-01  1.778333
1959-03-01  1.783667
1959-04-01  1.789000
1959-05-01  1.783667
...              ...
2021-12-01  1.124333
2022-01-01  1.124000
2022-02-01  1.131667
2022-03-01  1.139333
2022-04-01  1.147000

[760 rows x 1 columns]

In [105]:
df13 = pd.read_csv('../Data/Debt_to_GDP_Quarterly.csv')
df13['DATE'] = pd.to_datetime(df13.DATE)
df_all = df_all.merge(df13, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

In [ ]:
df12 = pd.read_csv('../Data/Federal_Debt_Quarterly.csv')
df12['DATE'] = pd.to_datetime(df12.DATE)
df_all = df_all.merge(df12, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

In [176]:
df17 = pd.read_csv('../Data/UMICH_Consumer_Sentiment.csv')
df17['DATE'] = pd.to_datetime(df17.DATE)
df17 = df17.set_index(pd.to_datetime(df17['DATE']), drop=True)
df17.drop('DATE', axis=1, inplace=True)
df17 = df17['UMCSENT'].str.replace('.', ' ')
df17.interpolate()

DATE
1952-11-01    86 2
1952-12-01
1953-01-01
1953-02-01    90 7
1953-03-01
              ...
2022-02-01    62 8
2022-03-01    59 4
2022-04-01    65 2
2022-05-01    58 4
2022-06-01      50
Name: UMCSENT, Length: 836, dtype: object

In [177]:
df17[1]

' '

In [175]:
df17.index

DatetimeIndex(['1952-11-01', '1952-12-01', '1953-01-01', '1953-02-01',
               '1953-03-01', '1953-04-01', '1953-05-01', '1953-06-01',
               '1953-07-01', '1953-08-01',
               ...
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01'],
              dtype='datetime64[ns]', name='DATE', length=836, freq=None)

In [163]:
df17['UMCSENT'].str.replace('.', ' ')

DATE
1952-11-01    86 2
1952-12-01
1953-01-01
1953-02-01    90 7
1953-03-01
              ...
2022-02-01    62 8
2022-03-01    59 4
2022-04-01    65 2
2022-05-01    58 4
2022-06-01      50
Name: UMCSENT, Length: 836, dtype: object

In [ ]:
df17 = df17.resample('MS').interpolate()

In [113]:
df10.ffill()[df10.index > '2022-01-01']

Empty DataFrame
Columns: [GFDEGDQ188S]
Index: []

In [121]:
weekly_count = df10[~(df10 < 30) | ~(df10.index > '2022-01-01')]
ts_wr = pd.date_range(df10.index[0], '2022-04-01', freq='MS')
ts_weekly = np.empty(shape=len(ts_wr))
ts_weekly = pd.Series(ts_weekly)
ts_weekly = ts_weekly.reindex(ts_wr)
ts_new = ts_weekly.fillna(weekly_count)

ValueError: Unable to coerce to Series, length must be 1: given 673

In [ ]:
df15 = pd.read_csv('Data/Inital_Claims_4WeekMA.csv')
df15['DATE'] = pd.to_datetime(df15.DATE)
df_all = df_all.merge(df15, on='DATE', how='outer')
df_all = df_all.sort_values('DATE')

In [138]:
df14 = pd.read_csv('../Data/Inital_Claims_4WeekMA.csv')
df14['DATE'] = pd.to_datetime(df14.DATE)
df14 = df14.set_index(pd.to_datetime(df14['DATE']), drop=True)
df14.drop('DATE', axis=1, inplace=True)
df14 = df14.resample('MS').mean()
df14

              IC4WSA
DATE
1967-01-01  209000.0
1967-02-01  219000.0
1967-03-01  257062.5
1967-04-01  258900.0
1967-05-01  246937.5
...              ...
2022-03-01  186062.5
2022-04-01  177850.0
2022-05-01  201187.5
2022-06-01  222750.0
2022-07-01  243050.0

[667 rows x 1 columns]

In [180]:
pd.read_csv('../Data/Federal_TaxReceipts.csv')

           DATE  W006RC1Q027SBEA
0    1947-01-01           36.860
1    1947-04-01           36.316
2    1947-07-01           36.264
3    1947-10-01           38.744
4    1948-01-01           38.952
..          ...              ...
296  2021-01-01         2293.975
297  2021-04-01         2428.260
298  2021-07-01         2524.971
299  2021-10-01         2616.739
300  2022-01-01         2913.013

[301 rows x 2 columns]

In [192]:
df11 = pd.read_csv('../Data/Motor_VehicleLoans.csv')
df11['DATE'] = pd.to_datetime(df11.DATE)
df11 = df11.set_index(pd.to_datetime(df11['DATE']), drop=True)
df11.drop('DATE', axis=1, inplace=True)
df11 = df11.resample('MS').interpolate()
df11

                 MVLOAS
DATE
1943-01-01     0.474000
1943-02-01     0.444000
1943-03-01     0.414000
1943-04-01     0.384000
1943-05-01     0.373667
...                 ...
2021-12-01  1326.600173
2022-01-01  1332.846310
2022-02-01  1343.607683
2022-03-01  1354.369057
2022-04-01  1365.130430

[952 rows x 1 columns]